@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;700&display=swap');
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body
{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
::before,::after{
    box-sizing: border-box;

}
ul{
    list-style-type: none;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    /* width: 80%; */
    display: block;
    opacity: 1;
    /* position: fixed; */
    padding: 0 30px;
    /* left: 270px;
    top: 0;
    right: 0;
    
    z-index: 0; */
}
.section_title h2{
    font-size: 40px;
    color: var(--text-black-900);
    position: relative;
    margin-bottom: 60px;
}
.section_title h2::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 50px;
    background: var(--skin-color);
    top: 100%;
    left: 0;
}
.section_title h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    background: var(--skin-color);
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.hidden{
    display: none !important;
}
.dark_shadow{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.main_content{
    padding-left: 270px;
}
.padd-15{
    padding: 0 15px;
}
.container{
    margin: auto;
    width: 100%;
    max-width: 1180px;  
}
.row{
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -15px; */
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 35px;
    background: var(--skin-color);
    cursor: pointer;
    display: inline-block;
    border: none;
    color: white;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}
/* aside */
.aside
{
    width: 270px;
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--bg-black-50);
    padding: 30px;
    height: 100%;
    z-index: 10;
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: uppercase;
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span{
    font-family: "Clicker Script", cursive;
    font-size: 40px;
}
.aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav_toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    left: 300px;
    top: 20px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    background: var(--bg-black-100);
}
.aside .nav_toggler span{
    height: 2px;
    width: 18px;
    display: inline-block;
    background: var(--skin-color);
    position: relative;
}
.aside .nav_toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    top: 6px;
    position: absolute;
    background: var(--skin-color);
}
.aside .nav_toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    top: -6px;
    position: absolute;
    background: var(--skin-color);
}
.aside .nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a i{
    margin-right: 20px;
}
.aside .nav li a.active{
    color: var(--skin-color);
}
/* ===== aside ber section end==== */
/* ======== home section start ======== */
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home_info{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    color: var(--skin-color);
    font-family: 'Clicker Script', cursive;
    font-weight: 700;
    font-size: 30px;
}
h3.my_profession{
    font-size: 28px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}
.home_info p{
    font-size: 20px;
    margin-bottom: 70px;
    color: var(--text-black-700);
}
.home .home_img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    /* background: pink; */
} 
.home_img::after{
    content: '';
    position: absolute;
    border-bottom: 8px solid var(--skin-color);
    border-right: 8px solid var(--skin-color);
    bottom: -15px;
    right: 10px;
    width: 80px;
    height: 80px;
}
.home_img::before{
    content: '';
    position: absolute;
    border-top: 8px solid var(--skin-color);
    border-left: 8px solid var(--skin-color);
    top: -25px;
    left: 10px;
    width: 80px;
    height: 80px;
}
.home .home_img img{
    width: 320px;
    height: 350px;
    border: 1px solid var(--bg-black-900);
    border-radius: 7px;
}
/* ======== home section end ====== */
/* ======== about me section start ====== */
.section .container{
    padding-top: 50px;
    padding-bottom: 60px;
}
.section_title{
    flex: 0 0 100%;
    max-width: 100%;
    /* background: pink; */
}
.about .about_content{
    flex: 0 0 100%;
    max-width: 100%;
    /* background: rgb(142, 24, 44); */
}
.about .about_content .about_text{
    flex: 0 0 100%;
    max-width: 100%;
    /* background: rgb(196, 30, 57); */
}
.about .about_content .about_text h3{
    font-size: 24px;
    color: var(--text-black-900);
    font-weight: 700;
    margin-bottom: 15px;
}
.about_content .about_text h3 span{
    color: var(--skin-color);
}
.about_content .about_text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about_content .personal_info{
    flex: 0 0 60%;
    max-width: 60%;
    /* background: pink; */
    margin-top: 40px;
}
.about .about_content .personal_info .info_item{
    flex: 0 0 50%;
    max-width: 50%;
    /* background: rgb(200, 25, 54); */
}
.about .about_content .personal_info .info_item p{
    padding: 10px 0;
    color: var(--text-black-900);
    font-size: 16px;
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about_content .personal_info .info_item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about_content .personal_info .buttons{
    margin-top: 30px;
}
.about .about_content .personal_info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}

.about .about_content .skills{
   flex: 0 0 40%;
   max-width: 40%;
   margin-top: 40px;
   /* background: green; */
}
.about .about_content .skills .skill_item{
    flex: 0 0 100%;
     max-width: 100%;
     margin-bottom: 17px;
    /* background: pink; */
}
.about .about_content .skills .skill_item h5{
    line-height: 40px;
    font-weight: 600;
    color: var(--text-black-900);
    text-transform: uppercase;
    font-size: 16px;
}
.about .about_content .skills .skill_item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about_content .skills .skill_item .progress_in{
    position: absolute;
    background: var(--skin-color);
    top: 0;
    left: 0;
    height: 100%;
}
.about .about_content .skills .skill_item .skill_percent{
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: var(--text-black-700);
}
.about .about_content .education,
.about .about_content .experience{
    flex: 0 0 50%;
    max-width: 50%;
    /* background-color: var(--skin-color); */
    margin-top: 30px;
}
.about .about_content h3.tittle{
    font-weight: 700;
    color: var(--text-black-900);
    font-size: 24px;
    margin-bottom: 30px;
}
.about .about_content .timeline_box{
    flex: 0 0 100%;
    max-width: 100%;
    /* background: var(--skin-color); */
}
.about .about_content .timeline{
    background: var( --bg-black-100);
    padding: 30px 25px;
    border: 1px solid var(--bg-black-50);
    position: relative;
    border-radius: 5px;
}
.about .about_content .timeline_item{
    position: relative;
    padding-bottom: 40px;
    padding-left: 35px;
}
.about .about_content .timeline_item:last-child{
    padding-bottom: 0;
}
.about .about_content .timeline .timeline_item::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    left: 7px;
    background: var(--skin-color);
}
.about .about_content .timeline .circle_dot{
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--skin-color);
    top: 0;
    left: 0;
    border-radius: 50%;
}
.about .about_content .timeline .timeline_date{
    font-weight: 400;
    color: var(--text-black-700);
    font-size: 14px;
    margin-bottom: 12px;
}
.about .about_content .timeline .timeline_date .fa{
    margin-right: 5px;
}
.about .about_content .timeline .timeline_tittle{
    font-weight: 700;
    color: var(--text-black-900);
    font-size: 18px;
    margin-bottom: 10px;
    /* text-transform: uppercase; */
}
.about .about_content .timeline .timeline_text{
    color: var(--text-black-700);
    font-size: 16px;
    text-align: justify;
}
.about .about_content .experience{
    /* background-color: burlywood; */
}
/* ========= service section start =========== */
.service .service_item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}
.service .service_item_inner{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--bg-black-50);
}
.service .service_item_inner .icon{
    height: 60px;
    width: 60px;
    /* background: var(--skin-color); */
    text-align: center;
    border-radius: 50%;
    margin: 0 auto 30px;
    display: block;
    transition: all 0.3s ease;
}
.service .service_item_inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
}
.service_item_inner:hover .icon{
    background-color: var(--skin-color);
}
.service_item_inner:hover .icon .fa{
    color: #fff;
    font-size: 30px;
}
.service .service_item_inner h4{
   font-size: 18px;
   color: var(--text-black-900);
   font-weight: 700;
   text-transform: capitalize;
   margin-bottom: 15px;
}
.service_item_inner p{
    color: var(--text-black-700);
    font-size: 16px;
    line-height: 25px;
}
/* ========= service section end =========== */
/* ========= portfolio section start =========== */
.portfolio .container{
    /* background: #b1e4b1; */
    padding-bottom: 25px;
}
.portfolio .portfolio_heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.portfolio .portfolio_heading h2{
    color: var(--text-black-900);
    font-weight: 500;
    /* text-align: center; */
}
.portfolio .portfolio_item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.portfolio .portfolio_item_inner{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    padding: 6px 8px;
    transition: all 0.3s ease ;
}
.portfolio_img img{
    width: 100%;
    display: block;
    border-radius: 5px;
}
.portfolio .portfolio_item_inner .project_details h3{
  color: var(--text-black-900);
  font-size: 18px;
  margin-top: 12px;
}
.portfolio .portfolio_item_inner:hover{
    transform: scale(1.03);
}
.portfolio .portfolio_item_inner .project_details p{
    color: var(--text-black-700);
    font-size: 16px;
}
.project_details .portfolio_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}
.project_details .portfolio_link a{
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.project_details .portfolio_link a:hover{
  color: var(--skin-color);
  font-size: 18px;
}
/* ========= portfolio section end =========== */
/* ========= Contact section start =========== */
.contact .contact_tittle{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 12px;
}
.contact .contact_sub_tittle{
    color: var(--text-black-900);
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.contact .contact_info_item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 3rem;
    text-align: center;
}
.contact_info_item .icon{
    display: block;
}
.contact_info_item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}
.contact_info_item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact_info_item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.contact .contact_form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact_form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
    /* background: red; */
}
.form_item{
    margin-bottom: 25px;
}
.contact .form_control{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.form_control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact textarea.form_control {
    height: 140px;
    width: 100%;
}

/* ========= Contact section end =========== */

@media (max-width:1199px){
    .aside{
        left: -270px;
    }
    .main_content{
        padding-left: 0;
    }
    .about .about_content .personal_info .info_item p span{
        display: block;
        margin-left: 0;
    }
}
@media (max-width:991px){
    .contact .contact_info_item,
    .portfolio .portfolio_item,
    .service .service_item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home_info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home_img{
        display: none;
    }
}
@media (max-width:767px){
    .contact .contact_form .col-6,
    .contact .contact_info_item,
    .portfolio .portfolio_item,
    .service .service_item,
    .about .about_content .experience,
    .about .about_content .education,
    .about .about_content .skills,
    .about .about_content .personal_info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}










/* ======== about me section end ====== */
